<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h3>All Chats!</h3>
    <form method="GET" action="/chats/new">
        <button>New Chat</button>
    </form>
    <% for (let chat of chats) { %>
        <div class="chat">
            <div class="from">
                <p>From: <%= chat.from %></p>
            </div>
            <div class="to">
                <p>To: <%= chat.to %></p>
            </div>
            <div class="message">
                <p>Message: <%= chat.message %></p>
                <form method="GET" action="/chats/<%=chat._id%>/edit">
                    <button>Edit</button>
                </form>
            </div>
            <div class="delete">
                <form method="POST" action="/chats/<%=chat._id%>?_method=Delete">
                    <button>Delete</button>
                </form>
            </div>
            <div class="created_at">
                <p>Created At Time: <%= chat.created_at.toString().split(" ")[4]%></p>
                 <p>Created On: <%= chat.created_at.toString().split(" ").slice(0,4).join("-")%></p>
            </div>
        </div>
        <hr>
        <% } %>
</body>

</html>